body{
    background-color: #E5E5E5;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}
.head{
    height: 94px;
    width: 1440px;
    background-color: #562EFF;
   
}
.nav{
    display: flex;
    justify-content: space-between;
    margin: 0 250px;
    align-items: center;
}
.logo-title{
    display: flex;
}
#lo-title{
    color: #FFFFFF;
    font-size: 24px;
}
.logo{
    height: 51px;
    width: 40.42px;
    margin-right: 15.18px;
    margin-top: 26px;
}
.list{
    display: inline;
    float: left;
}
.list a{
    text-decoration:none ;
    display: block;
    padding-right: 36px;
    color: #FFFFFF;
}
.profile{
    display: flex;
    justify-content: space-between;
}
.profile img{
    height: 51px;
    width: 51px;
}
.mid-sector{
    height: 679px;
    width: 870px;
    margin:36px 250px;
    margin-bottom: 21px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 33px;
    
}
.heading{
    color: #562EFF;
    font-size: 24px;
    font-family: medium;
}
.top-player{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    row-gap: 29px;
    margin-bottom: 30px;
}
.players img{
    height: 56px;
    width: 56px;
}
.players{
    display: flex;
    align-items: center;
}
.player-name{
    margin-left: 20px;
}
.top-blog{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 26px;
}
.blogs{
    display: flex;
    align-items: start;
}
.blogs img{
    width: 177px;
    height: 117px;
    border-radius: 10px;
}
.blog-descrip{
    margin-left: 16px;

}
.blog-descrip a{
    text-decoration: none;
    color: #562EFF;
}
.footer{
    height: 362px;
    width: 870px;
    margin: 0 250px;
    margin-bottom: 28px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding:5px 33px;
    padding-bottom: 40px;

}
.foo-card{
    display: flex;
    justify-content: space-between;
}
.foo-div{
    height: 269.79px;
    width: 252.42px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
   border-radius: 10px;
    margin-bottom: 22.21px;
    padding:10px 11px;
   
}
.foo-div img{
    width: 224px;
    height: 104px;
  
}
.red{
    color: #ED6B4F;
}
.star-clock{
    display: flex;
    justify-content: space-between;
    
}
.star img{
    width: 12.39px;
    height: 11.81px;
    margin: 3.14px;
}
.clock{
    width: 90px;
    height: 29.38px;
    border-radius: 14.69px;
    background-color: #FFE4E8;
    display: flex;
    align-items: center;
}
.clock img{
    width: 20.03px;
    height: 20.03px;
}
.time{
    color: #FF4A60;
    font-size: 14.69px;
    margin:0 4px;
}
@media only screen and (max-width:600px){
    body{
        background-color: #E5E5E5;
        margin: auto;
        font-family: 'Poppins', sans-serif;
    }
    .head{
        height: 94px;
        width: 540px;
        background-color: #562EFF;
       
    }
    .nav{
        display: flex;
        justify-content: space-between;
        margin: 0 50px;
        align-items: center;
    }
    .logo-title{
        display: flex;
    }
    #lo-title{
        color: #FFFFFF;
        font-size: 24px;
    }
    .logo{
        height: 51px;
        width: 40.42px;
        margin-right: 15.18px;
        margin-top: 26px;
    }
    .list{
        display: inline;
        float: left;
    }
    .list a{
        text-decoration:none ;
        display: block;
        padding-right: 36px;
        color: #FFFFFF;
    }
    .profile{
        display: flex;
        justify-content: space-between;
    }
    .profile img{
        height: 51px;
        width: 51px;
    }
    .mid-sector{
        height: auto;
        width: 400px;
        margin:36px;
        margin-bottom: 21px;
        background-color: #FFFFFF;
        border-radius: 5px;
        padding: 33px;
        
    }
    .heading{
        color: #562EFF;
        font-size: 24px;
        font-family: medium;
    }
    .top-player{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-between;
        row-gap: 29px;
        margin-bottom: 30px;
    }
    .players img{
        height: 56px;
        width: 56px;
    }
    .players{
        display: flex;
        align-items: center;
    }
    .player-name{
        margin-left: 20px;
    }
    .top-blog{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap: 26px;
    }
    .blogs{
        display: flex;
        align-items: start;
    }
    .blogs img{
        width: 177px;
        height: 117px;
        border-radius: 10px;
    }
    .blog-descrip{
        margin-left: 16px;
    
    }
    .blog-descrip a{
        text-decoration: none;
        color: #562EFF;
    }
    .footer{
        height: auto;
        width: 400px;
        margin: 36px;
        margin-bottom: 28px;
        background-color: #FFFFFF;
        border-radius: 5px;
        padding:5px 33px;
        padding-bottom: 40px;
    
    }
    .foo-card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 60px;
    }
    .foo-div{
        height: 269.79px;
        width: 252.42px;
        box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
       border-radius: 10px;
        margin-bottom: 22.21px;
        padding:10px 11px;
       
    }
    .foo-div img{
        width: 224px;
        height: 104px;
      
    }
    .red{
        color: #ED6B4F;
    }
    .star-clock{
        display: flex;
        justify-content: space-between;
        
    }
    .star img{
        width: 12.39px;
        height: 11.81px;
        margin: 3.14px;
    }
    .clock{
        width: 90px;
        height: 29.38px;
        border-radius: 14.69px;
        background-color: #FFE4E8;
        display: flex;
        align-items: center;
    }
    .clock img{
        width: 20.03px;
        height: 20.03px;
    }
    .time{
        color: #FF4A60;
        font-size: 14.69px;
        margin:0 4px;
    }
}